<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Vendor CSS Template -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css")
    @Styles.Render("~/Content/assets/vendor/remixicon/remixicon.css")
    @Styles.Render("~/Content/assets/vendor/boxicons/css/boxicons.min.css")
    @Styles.Render("~/Content/assets/vendor/quill/quill.snow.css")
    @Styles.Render("~/Content/assets/vendor/quill/quill.bubble.css")
    @Styles.Render("~/Content/assets/vendor/simple-datatables/style.css")
    @Styles.Render("~/Content/assets/css/style.css")

    <!-- Bundles -->
    @Scripts.Render("~/bundles/modernizr")



    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">MyContact 1.0v</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

               


                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="/Login/LogOut">
                        <i class="bi bi-box-arrow-right"></i>
                    </a><!-- End Messages Icon -->

                    

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="https://jackson.yale.edu/wp-content/uploads/2015/07/Peter_Schott-Faculty.jpg" alt="Profile" class="rounded-circle">

                        @if (Request.IsAuthenticated)
                        {
                            <span class="d-none d-md-block dropdown-toggle ps-2">
                                Welcome, @Html.Encode(User.Identity.Name),
                            </span>                            
                        }

                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        @if (Request.IsAuthenticated)
                        {
                            
                            <li class="dropdown-header">
                                <h6> @Html.Encode(User.Identity.Name) </h6>
                                <span>Software Developer</span>
                            </li>

                        }
                        
                        
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Login/LogOut">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/Contact/Index">
                    <i class="bi bi-people"></i>
                    <span>Contacts</span>
                </a>
            </li><!-- End Dashboard Nav -->

            

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        @RenderBody()
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>MyContacts 1.0v</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Vendor JS Template -->
    @Scripts.Render("~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js")
    @Scripts.Render("~/Content/assets/vendor/php-email-form/validate.js")
    @Scripts.Render("~/Content/assets/vendor/quill/quill.min.js")
    @Scripts.Render("~/Content/assets/vendor/tinymce/tinymce.min.js")
    @Scripts.Render("~/Content/assets/vendor/simple-datatables/simple-datatables.js")
    @Scripts.Render("~/Content/assets/vendor/chart.js/chart.min.js")
    @Scripts.Render("~/Content/assets/vendor/apexcharts/apexcharts.min.js")
    @Scripts.Render("~/Content/assets/vendor/echarts/echarts.min.js")
    @Scripts.Render("~/Content/assets/js/main.js")





    @RenderSection("scripts", required: false)
</body>
</html>
